{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Agora UI</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body class="mx max-left">
  {% include 'navbar.html' %}
  <div class="main-content">
    <div class="center-column">
      <div class="header">
        <img class="agora-logo" src="{% static 'img/agora_unicamp.png' %}"></img>
      </div>
      <div class="project-header">
        <div>Olá <b>{{user.nickname}}</b>, você está em</div>
        <div class="project-name">{{project.title}}</div>
      </div>
     
      <div class="phases">          
        <div class="phase {{etapas.0}}-phase">
          <div class="phase-number">
            1
          </div>
          <div class="phase-name">
            Ideias
          </div>
        </div>
        <div class="phase {{etapas.1}}-phase">
          <div class="phase-number">
            2
          </div>
          <div class="phase-name">
            Temáticas
          </div>
        </div>
        <div class="phase {{etapas.2}}-phase">
          <div class="phase-number">
            3
          </div>
          <div class="phase-name">
            Debates
          </div>
        </div>
        <div class="phase {{etapas.3}}-phase">
          <div class="phase-number">
            4
          </div>
          <div class="phase-name">
            Propostas
          </div>
        </div>
        <div class="phase {{etapas.4}}-phase">
          <div class="phase-number">
            5
          </div>
          <div class="phase-name">
            Resultados
          </div>
        </div>
      </div>
      
      <div class="etapa-content">         
          <div style="text-align:center;font-size:150%;font-weight:bold">{{etapas_txt.name}}</div>
          <div class="etapa-text" style="text-align:center">{{etapas_txt.header_txt}}</div>
          <div class="etapa-text"><b>Objetivo</b>: {{etapas_txt.objetivo_txt}}</div>
          <div class="etapa-text"><b>Como participar</b>: {{etapas_txt.participar_txt}}</div>
          <div class="etapa-text"><b>Resultados</b>: {{etapas_txt.resultado_txt}}</div>
      </div>
      
      
      <div id="postsContainer" class="posts">
        {# {% for publication in publications %}#}
          {# {% include 'publication.html' %}#}
        {# {% endfor %}#}
      </div>
    </div>
  </div>

  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/d3.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
